header {
  transition: box-shadow 0.2s ease;

  &.scrolled {
    box-shadow: 0 10px 40px rgba(0,0,0,.2);
  }
}

.slide-in {
  clip-path: inset(0 0 100% 0);
}

.menu {
  transition: clip-path 0.2s ease;
  transition-delay: .2s;
  clip-path: inset(0 0 100% 0);
}

.menuOpen {
  clip-path: inset(0 0 0 0);
}

.menuButton {
  .burger {
    position: relative;

    .bun {
      width: 24px;
      height: 3px;
      /* background-color: #fff; */
      background-color: var(--text-color);
      border-radius: 4px;
      position: absolute;
    }

    :is(.top, .bottom) {
      transition: transform 0.2s ease, top 0.2s ease 0.2s;
      transition-duration: 0.2s, 0.2s;
      left: 0;
      width: 24px;
      height: 3px;
      background-color: var(--text-color);
      border-radius: 4px;
      position: absolute;
      top: var(--top);
      transform: rotate(var(--rotation));
    }

    .top {
      --rotation: 0deg;
      --top: -8px;
    }

    .bottom {
      --rotation: 0deg;
      --top: 8px;
    }

  }

  &.active {
    .burger {
      .top {
        transition: top 0.2s ease, transform 0.2s ease 0.2s;
        --top: 0;
        --rotation: 225deg;
      }

      .bun {
        background-color: transparent;
      }

      .bottom {
        transition: top 0.2s ease, transform 0.2s ease 0.2s;
        --top: 0;
        --rotation: 310deg;
      }
    }
  }
}